[package]
name = "arrow-compile-compute"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0"

[dependencies]
inkwell = { version = "0.5.0", features = ["llvm18-0-prefer-static"] }
arrow-schema = "55.0"
arrow-buffer = "55.0"
arrow-data = "55.0"
arrow-array = "55.0"
ouroboros = "0.18"
half = "2.4.1"
enum-as-inner = "0.6.1"
repr_offset = { version = "0.2.2", features = ["derive"] }


[dev-dependencies]
half = "2.4.1"
arrow-ord = "55.0"
arrow-cast = "55.0"
arrow-select = "55.0"
arrow-string = "55.0"
arrow-arith = "55.0"
criterion = "0.5"
fastrand = "2.2.0"
itertools = "0.13.0"
proptest = "1.5"
rayon = "1.10"
#chrono = "= 0.4.39"

[profile.release]
debug = true

[[bench]]
name = "eq_const_bench"
harness = false


[[bench]]
name = "cast_bench"
harness = false

[[bench]]
name = "parallel_bench"
harness = false

[[bench]]
name = "filter_bench"
harness = false

[[bench]]
name = "agg_bench"
harness = false


[[bench]]
name = "take_bench"
harness = false
